.landing-page {
  background: linear-gradient(to right, rgba(77, 73, 69, 255), black);
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  justify-content: center;
}

.landing-page__text {
  position: relative;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
}

.landing-page__image {
  border-radius: 100%;
  position: relative;
  width: 90%;
}

.landing-page__link-to {
  text-decoration: none;
  display: grid;
  place-items: center;
}

.landing-page__link-to:hover {
  transform: scale(1.050);
}