.create-recipe__background {

    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
}

.create-recipe__container {    
    border: 1px solid black;   
    padding: 8px;
    border-radius: 4px;   
    width: 500px;
    margin: 0 auto;
    height: 100%;
}


.create-recipe__title {

    background-color: beige;
    width: 275px;
}

.div {
    background-color: beige;
}

.create-recipe__diets__container {
    display: flex;
    flex-flow: row wrap;
    max-width: 650px;
}

.create-recipe__input {
    background-color: beige;
}

.create-recipe__input-error{
    border-color: red;
}

.create-recipe__button {
    position: relative;
    top: 70%;
    display: block;
    font-size: medium;
    color:white;
    border-color: #e9a74c;
    box-shadow: none;
    padding: 8px;
    border-radius: 10px;
    font-family: inherit;
    background-color: rgba(233, 167, 76, 0.8);
}

.create-recipe__button:hover {
    background-color: rgba(233, 167, 76, 1);
    font-style: oblique;
}

.create-recipe__delete-button{
    position: relative;
    top: 70%;
    display: block;
    font-size: medium;
    padding: 8px;
    border-radius: 10px;
    border-top: 0mm;
    font-family: inherit;
    background-color: rgba(214, 104, 45, 0.8);
}
.create-recipe__form-label{
    font-size: larger;
}

.create-recipe__add-step-button{
    font-size: medium;
}