.background {
    background-image: url('https://www.freepik.es/foto-gratis/comida-ingredientes_6216943.htm#query=food&position=2&from_view=search')
}
.h1 {
    background-color: beige;
    width: 275px;
}

.div {
    background-color: beige;
}

.label {
    background-color: beige;
}

.input {
    background-color: beige;
}