/* TODO corregir nombres de clases */
.recipe-detail__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fonts  {
    letter-spacing: -.05em;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

.titleh2  {
    font-size: 2.125rem;
    line-height: 2.75rem;
    letter-spacing: -.05em;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

.titleh3 {
    font-size: 1.625rem;
    line-height: 2.75rem;
    letter-spacing: -.05em;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

.create-recipe__div {
    width: 900px;
    background-color: beige;
    border-radius: 10px;
}

.recipe-detail__image {
    width: 400px;
    border-radius: 10px;
}

.recipe-detail__diet-button{
    position: relative;
    top: 70%;
    display: block;
    font-size: medium;
    color:white;
    border-color: #e9a74c;
    box-shadow: none;
    padding: 8px;
    border-radius: 10px;
    font-family: inherit;
    background-color: rgba(233, 167, 76, 0.8);
}
