/* TODO hace hover de la tarjeta, redondear bordes, colocar bien el HS */
.recipe-card__container {
  width: 250px;
  height: 300px;
  display: flex;
  background-color: beige;
  flex-direction: column;
  padding: 5vh;
  margin: 0 16px 0 0;
  border-radius: 10px;
}

.recipe-card__title {
  margin-bottom: 15px;
  word-break: break-word;
}

.recipe-card__image-container {
  display: flex;
  position: relative;
  text-align: center;
}

.recipe-card__image {
  display: flex;
  position: relative;
  text-align: center;
  border-radius: 10px;
  width: 250px;
}

.recipe-card__HS {
  background-image: url("../image/tag.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 16px;
  position: absolute;
  color: white;
  bottom: 8px;
  right: 0px;
  align-items: flex-end;
}