.search-bar__container {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
}

.search-bar_search-place {
    position: relative;
   

}


.search-bar__input {
    position: relative;
    width: 300px;
    font-size: large;
}

.search-bar__search-button {
    position: relative;
    font-size: large;
}

.search-bar__link-button {
    position: relative;
    top: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: medium;
    padding: 8px;
    border-radius: 10px;
    font-family: inherit;
    background-color: rgba(233, 167, 76, 0.8);
}

.search-bar__link-button:hover {
    background-color: rgba(233, 167, 76, 1);
    font-style: oblique;
  }